<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GUESS THE NUMBER</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
<div class="container">
<h2>WELCOME TO NUMBER GUESSING GAME </h2>
    {% if message %}
    <p class="message">
     {{ message }}
    </p>
    {% endif %}
    <p> Attempts left: {{ attempt_left }}</p>
    <form method="POST", action="/game">
        <label>NUMBER </label>
        <input type="number" name="guess" placeholder="Enter Your Guess">
        <input type="submit" name="submit" value="submit" class="btn btn-success">
    </form>


    <h3>HI {{ name }} : {{name}} GAMER </h3>
    <H3><B>RULES:</B></H3>
     <P>1.You are given only 10 attempts to guess the number</P>
    <p>2.THe Number generated randomly with each attempt your score will going to reduce</p>
</div>

</body>
</html>